* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232323;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: transparent;
  border: 2px solid #fff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "h2 h2 h2 h2 h2 h2"
    "one one two two three three"
    "four four five five six six"
    "seven seven eight eight nine nine";

  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.container > div {
  background-color: #1072bc;
  color: white;
  font-size: 6vw;
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
}

.container > div:hover {
  opacity: 0.7;
  cursor: pointer;
}

h2 {
  grid-area: h2;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  background-color: #1fe;
}
#square1 {
  grid-area: one;
  grid-row: 2 / span 2;
}
#square2 {
  grid-area: two;
  grid-row: 2 / span 2;
}
#square3 {
  grid-area: three;
  grid-row: 2 / span 2;
}
#square4 {
  grid-area: four;
  grid-row: 4 / span 2;
}
#square5 {
  grid-area: five;
  grid-row: 4 / span 2;
}
#square6 {
  grid-area: six;
  grid-row: 4 / span 2;
}
#square7 {
  grid-area: seven;
  grid-row: 6 / span 2;
}
#square8 {
  grid-area: eight;
  grid-row: 6 / span 2;
}
#square9 {
  grid-area: nine;
  grid-row: 6 / span 2;
}

.active {
  background-color: #000 !important;
}

@media (max-width: 599px) {
  .container {
    width: 70%;
    height: 60%;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .container {
    width: 60%;
    height: 60%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .container {
    width: 75%;
    height: 60%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 35%;
    height: 85%;
  }
}
